<launch>
    <group ns="coax_filtered">
        <group ns="accel">
	        <param name="new_x_weight" value="0.5" />
	        <param name="new_y_weight" value="0.5" />
        </group>
	    <param name="publish_freq" value="20" />
	    <param name="state_msg_buffer" value="50" />
        <param name="fstate_msg_queue" value="20" />
    </group>

    <group ns="coax_localization">
        <param name="publish_freq" value="20" />
	    <param name="state_msg_buffer" value="50" />
        <param name="fstate_msg_queue" value="20" />
    </group>

    <group ns="fstate_data_dump">
        <param name="filename" value="stationary" />
        <param name="overwrite" value="true" />
        <param name="time_diff" value="1" />
    </group>
    
    <node pkg="coax_server" type="coax_server" name="coax_server" args="/dev/ttyUSB0:1"/>
    <node pkg="coax_client" type="test_coax_filter" name="filtered_state" />
    <node pkg="coax_client" type="coax_filter_csv.py" name="fstate_data_dump" output="screen" />
</launch>
