<launch>
	<arg name="fps" default="10"/>
	<arg name="width" default="160"/>
	<arg name="height" default="120"/>
	<arg name="color_file" default="mrl_day_colors.txt"/>

	<group ns="gumstix_cam_node">
		<param name="fps" value="$(arg fps)"/>
		<param name="width" value="$(arg width)"/>
		<param name="height" value="$(arg height)"/>
	</group>

    <node pkg="gumstix_cam_node" type="gumstix_cam_node" name="gumstix_cam_node" output="screen"/>
	<node pkg="coax_server" type="coax_server" name="coax_server" args="/dev/ttyS0"/>
	<node pkg="coax_client" type="coax_filter_node" name="coax_filter" output="screen"/>
	<node pkg="coax_client" type="blob_filter_node" name="blob_filter" output="screen"/>
	
	<group ns="cmvision">
		<param name="color_file" value="$(find coax_client)/include/$(arg color_file)"/>
		<param name="mean_shift_on" value="false" />
		<param name="debug_on" value="false" />
		<param name="spatial_radius_pix" value="0" />
		<param name="color_radius_pix" value="0" />
	</group>

	<node pkg="cmvision" type="cmvision" name="blob_tracking">
		<remap from="image" to="image_0"/>
	</node>
</launch>
