<launch>
    <arg name="color_file" default="mrl_day_new_colors.txt"/>

    <group ns="cmvision">
        <param name="color_file" value="$(find coax_client)/include/$(arg color_file)"/>
        <param name="mean_shift_on" value="false" />
        <param name="debug_on" value="true" />
        <param name="spatial_radius_pix" value="0" />
        <param name="color_radius_pix" value="0" />
    </group>

    <node pkg="cmvision" type="cmvision" name="cmvision">
        <remap from="image" to="image_0"/>
    </node>
</launch>
