<launch>
    <include file="$(find coax_client)/launch/coax_tf.launch"/>
    <node pkg="coax_client" type="blob_visuals_node" name="visuals"/>
    <node pkg="rviz" type="rviz" name="rviz"/>
    <!--node pkg="image_view" type="image_view" name="image">
    	<remap from="image" to="image_0"/>
    </node-->
</launch>
