<launch>
    <!--include file="$(find coax_client)/launch/basic.launch"/-->
    <node pkg="coax_client" name="keyboard" type="keyboard" output="screen"/>
    <node pkg="coax_client" name="controller" type="coax_controller_node" output="screen"/>
    <node pkg="coax_server" name="coax_server" type="coax_server" args="localhost"/>
</launch>
