<launch>
    <arg name="onboard" default="true"/>
    <node unless="$(arg onboard)" pkg="coax_server" type="coax_server" name="coax_server" output="screen" args="/dev/ttyUSB0:1"/>
    <node pkg="joy" type="joy_node" name="joy">
        <param name="dev" value="/dev/input/js1"/>
    </node>
    <node unless="$(arg onboard)" pkg="coax_client" type="coax_controller_node" name="controller" output="screen"/>
</launch>
